-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db_eco_clean
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_keys`
--

DROP TABLE IF EXISTS `access_keys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_keys` (
  `id` int NOT NULL AUTO_INCREMENT,
  `key_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `student_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_class` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Kelas 5 Eco',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `last_active` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key_code` (`key_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_keys`
--

LOCK TABLES `access_keys` WRITE;
/*!40000 ALTER TABLE `access_keys` DISABLE KEYS */;
INSERT INTO `access_keys` VALUES (1,'ECO-B695','rijal','Kelas 5a','2026-09-05 21:25:14','2026-09-05 21:25:14'),(2,'ECO-1B8A','rijal','Kelas 5A','2026-09-05 21:58:16','2026-09-05 21:58:16'),(3,'ECO-286A','hakim','6a','2026-09-05 22:01:00','2026-09-05 22:01:00');
/*!40000 ALTER TABLE `access_keys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adventure_progress`
--

DROP TABLE IF EXISTS `adventure_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adventure_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `access_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level_number` int NOT NULL,
  `stars_earned` int NOT NULL DEFAULT '0',
  `high_score` int NOT NULL DEFAULT '0',
  `is_completed` tinyint(1) NOT NULL DEFAULT '0',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_level` (`access_key`,`level_number`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adventure_progress`
--

LOCK TABLES `adventure_progress` WRITE;
/*!40000 ALTER TABLE `adventure_progress` DISABLE KEYS */;
INSERT INTO `adventure_progress` VALUES (1,'ECO-B695',1,3,500,1,'2026-09-05 21:26:57'),(3,'ECO-B695',2,3,500,1,'2026-09-05 21:32:36'),(4,'ECO-B695',3,3,600,1,'2026-09-05 21:33:09'),(5,'ECO-B695',4,2,520,1,'2026-09-05 21:34:08'),(6,'ECO-B695',5,3,600,1,'2026-09-05 21:34:41'),(7,'ECO-286A',1,2,450,1,'2026-09-05 22:05:54'),(8,'ECO-286A',2,3,500,1,'2026-09-05 22:06:08'),(9,'ECO-286A',3,3,600,1,'2026-09-05 22:06:40'),(10,'ECO-286A',4,3,560,1,'2026-09-05 22:07:02'),(11,'ECO-286A',5,3,600,1,'2026-09-05 22:07:14');
/*!40000 ALTER TABLE `adventure_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `educational_materials`
--

DROP TABLE IF EXISTS `educational_materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `educational_materials` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` enum('organik','anorganik','b3','prinsip_3r') COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `icon` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'fa-leaf',
  `short_desc` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `examples` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quiz_question` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `quiz_options` json NOT NULL,
  `quiz_correct_index` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `educational_materials`
--

LOCK TABLES `educational_materials` WRITE;
/*!40000 ALTER TABLE `educational_materials` DISABLE KEYS */;
/*!40000 ALTER TABLE `educational_materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `game_missions`
--

DROP TABLE IF EXISTS `game_missions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `game_missions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mission_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_score` int NOT NULL,
  `time_limit_sec` int NOT NULL DEFAULT '60',
  `reward_badge` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `game_missions`
--

LOCK TABLES `game_missions` WRITE;
/*!40000 ALTER TABLE `game_missions` DISABLE KEYS */;
INSERT INTO `game_missions` VALUES (1,'Misi 1: Pemilah Pemula',500,60,'Lencana Pemilah Pemula ????','Pilah minimal 15 sampah dengan benar dalam waktu 60 detik.'),(2,'Misi 2: Pejuang Daur Ulang',1000,60,'Lencana Pejuang Daur Ulang ???????','Kumpulkan skor 1000 poin dan raih combo minimal 5x!'),(3,'Misi 3: Master Sains Eco',1500,60,'Lencana Master Eco Sains ????','Misi kelas berat! Bebaskan arena dari sampah B3 dan sampah anorganik!');
/*!40000 ALTER TABLE `game_missions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leaderboard`
--

DROP TABLE IF EXISTS `leaderboard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leaderboard` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_class` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `access_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` int NOT NULL DEFAULT '0',
  `waste_sorted` int NOT NULL DEFAULT '0',
  `max_combo` int NOT NULL DEFAULT '0',
  `badge_title` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'Pahlawan Pemilah',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leaderboard`
--

LOCK TABLES `leaderboard` WRITE;
/*!40000 ALTER TABLE `leaderboard` DISABLE KEYS */;
INSERT INTO `leaderboard` VALUES (2,'hakim','6a','ECO-286A',450,0,0,'Sahabat Lingkungan 🌱','2026-09-05 22:05:55'),(3,'hakim','6a','ECO-286A',950,0,0,'Pahlawan Lingkungan 🥉','2026-09-05 22:06:08'),(4,'hakim','6a','ECO-286A',2710,0,0,'Grand Eco Champion 🥇','2026-09-05 22:06:40');
/*!40000 ALTER TABLE `leaderboard` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-05 22:37:58
